.feedback-form {
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.textarea {
  display: flex;
  width: 360px;
  height: 80px;
  justify-content: center;
  align-items: center;
}
.button {
}
